@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/merriweather/merriweather-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/merriweather/merriweather-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/golos-text/golostext-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/golos-text/golostext-medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  font-weight: 600;
  font-style: normal;
  src: url("../../fonts/golos-text/golostext-semibold.woff2") format("woff2");
  font-display: swap;
}
