/* здесь используйте глобальные переменные */
$primary-font: "Golos Text", "Arial", sans-serif;
$secondary-font: "Merriweather", "Times New Roman", sans-serif;

$base-bg-color: #ffffff;
$primary-bg-color: #1f1f1f;
// $primary-bg-color--opacity: rgba($primary-text-color, 0.6);
$tertiary-bg-color: #e3d4bf;
$quaternary-bg-color: #313131;
$quinary-bg-color: #e9ded4;
$sextuple-bg-color: #3057a2;

$primary-text-color: #313131;
// $primary-text-color--opacity: rgba($primary-text-color, 0.7);
$secondary-text-color: #1f1f1f;
$tertiary-text-color: #ffffff;
$quaternary-text-color: #3057a2;
$accent-color: #f54932;
