.announcement__top-wrapper {
  position: relative;
  margin-bottom: 34px;
}

.announcement__description {
  margin: 0;
  color: $quaternary-text-color;
}

.announcement__image {
  &--decor {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 168px / 107px;
  }

  &--collage {
    margin-bottom: 24px;
  }
}

.announcement__title {
  &--bottom {
    margin-bottom: 44px;
  }
}

.announcement__info {
  margin-bottom: 25px;
}
