.announcement__top-wrapper {
  position: relative;
  margin-bottom: 21px;

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 64px;
    align-items: center;
    margin-bottom: 64px;
  }
}

.announcement__image-container {
  margin-bottom: 19px;

  @media (min-width: $desktop-width) {
    grid-row: span 2;
  }
}

.announcement__image {
  display: block;

  &--decor {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 168px / 107px;

    @media (min-width: $desktop-width) {
      position: static;
      width: 394px;
      height: 250px;
      transform: none;
    }
  }

  &--collage {
    width: 375px;
    max-width: none;
    margin-left: -20px;

    @media (min-width: $desktop-width) {
      width: 530px;
      height: 610px;
      margin-top: -47px;
      margin-left: -1px;
    }
  }
}

.announcement__title {
  max-width: 335px;

  &--bottom {
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    max-width: 764px;

    &--bottom {
      margin-bottom: 0;
    }
  }
}

.announcement__bottom-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 530px 704px;
    column-gap: 15px;
    margin-left: -27px;
  }
}

.announcement__info-container {
  @media (min-width: $desktop-width) {
    margin-top: 5px;
  }
}

.announcement__info {
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}
