.button {
  display: block;
  width: 100%;
  padding: 16px 15px 18px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  text-align: center;
  text-decoration: none;
  border-radius: 66px;

  &--primary {
    color: $tertiary-text-color;
    background-color: $primary-bg-color;
  }

  &--secondary {
    color: $secondary-text-color;
    background-color: rgba($base-bg-color, 0.9);
  }

  &--tertiary {
    width: fit-content;
    padding: 11px;
    line-height: 19px;
    color: $quaternary-text-color;
    border: 1px solid $sextuple-bg-color;
    border-radius: 62px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 49px;

    &--tertiary {
      padding: 12px;
    }
  }
}
