.button {
  display: block;
  width: 100%;
  padding: 13px 15px 13px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  text-align: center;
  text-decoration: none;
  border-radius: 66px;

  &:active {
    opacity: 0.6;
  }

  &--primary {
    color: $tertiary-text-color;
    background-color: $primary-bg-color;

    &:hover,
    &:focus {
      color: $secondary-text-color;
      background-color: $hover-primary;
    }
  }

  &--secondary {
    color: $secondary-text-color;
    background-color: rgba($base-bg-color, 0.9);

    &:hover,
    &:focus {
      color: $tertiary-text-color;
      background-color: $primary-bg-color;
    }

    @media (min-width: $desktop-width) {
      background-color: transparent;
      border: 2px solid $primary-bg-color;
    }
  }

  &--tertiary {
    width: fit-content;
    padding: 7px 11px;
    line-height: 19px;
    color: $quaternary-text-color;
    border: 1px solid $sextuple-bg-color;
    border-radius: 62px;

    &:hover,
    &:focus {
      color: $tertiary-text-color;
      background-color: $sextuple-bg-color;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 13px 49px;

    &--tertiary {
      padding: 7px 12px;
    }
  }
}
