.hero {
  overflow: hidden;
}

.hero__title {
  max-width: 335px;
  margin-bottom: 24px;

  @media (min-width: $desktop-width) {
    max-width: 542px;
  }
}

.hero__description {
  max-width: 335px;
  margin-bottom: 32px;
  line-height: 23px;

  @media (min-width: $desktop-width) {
    max-width: 542px;
    margin-bottom: 40px;
  }
}

.hero__buttons-container {
  max-width: 335px;
  margin-bottom: 291px;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 16px;
    max-width: 542px;
    margin-bottom: 130px;
  }
}

.hero__button {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
