.main-content__hero {
  margin-bottom: 48px;
}

.main-content__announcement {
  margin-bottom: 120px;
}

.main-content__transformation {
  margin-bottom: 120px;
}

.main-content__participants {
  margin-bottom: 100px;
}
