.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  min-height: 100%;
}

.page__main-header {
  margin-bottom: 40px;
}

.page__main-content {
  flex-grow: 1;
}
