.running-line {
  display: flex;
  column-gap: 30px;
  min-width: max-content;
  margin: 0;
  padding: 10px 30px 10px 13px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  color: $tertiary-text-color;
  list-style: none;
  text-transform: uppercase;
  background-color: $accent-color;
  transform: translateX(-215px);

  @media (min-width: $desktop-width) {
    padding: 18px 30px 18px 12px;
    font-size: 22px;
    line-height: 24px;
    transform: translateX(-483px);
  }

  @media (min-width: $desktop-width-more) {
    transform: translateX(-207px);
  }

  // &--footer {
  //   @media (min-width: $desktop-width) and (max-width: $desktop-width-more) {
  //     box-shadow: 100vw 0 0 $accent-color;
  //     transform: translateX(-946px);
  //   }
  // }
}

.running-line__item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    right: -18px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $base-bg-color;

    @media (min-width: $desktop-width) {
      top: 9px;
    }
  }
}
